h1 {
  small {
    .btn {
      margin-top: -15px;
    }
  }
}

.search-form {
  .form-icon {
    font-size: 160%;
  }
  .input-wd {
    width: 25em;
  }
  .input-nr {
    width: 8em;
  }
  margin-bottom: 0.3em;
}