<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Sign in to the the Stop Palu Database</h1>
    <p>
      You can sign in to the database by following this link: 
      <a href="<%= @login_link %>">Log in</a>.<br>
    </p>
    <p>
      Alternatively, paste this link in your browser:<br/><br/>
      <%= @login_link %>
    </p>
  </body>
</html>