<!DOCTYPE html>
<html>
<%= render 'layouts/head' %>
<body>
<div class="container-fluid container-login">
<div class="row-fluid login-row">
  <div class="panel panel-default panel-login">
    <div class="panel-body">
      <h1>Stop Palu Database</h1>
      
      <%= yield %>

      <div class="login-links">
        <a href="#">About</a>
        &middot;
        <a href="#">Help</a>
        &middot;
        <a href="#">Request Access</a>
      </div>
    </div>
  </div>
</div>
</div>
</body>
</html>
